<div class="container">
  <div class="login-container">
    <div class="login-header">
      <h2>Connexion</h2>
      <p>Connectez-vous à votre compte pour accéder au quiz</p>
    </div>

    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <input
          class="form-input"
          type="text"
          formControlName="username"
          placeholder="Entrez votre nom d'utilisateur"
        />
        @if (
          loginForm.get("username")?.touched &&
          loginForm.get("username")?.invalid
        ) {
          <div class="error-message">
            @if (loginForm.get("username")?.errors?.["minlength"]) {
              <p>
                Le nom d'utilisateur doit comporter au moins
                {{
                  loginForm.get("username")?.errors?.["minlength"]
                    ?.requiredLength
                }}
                caractères.
              </p>
            }
          </div>
        }

        <input
          class="form-input"
          type="password"
          formControlName="password"
          placeholder="Entrez votre mot de passe"
        />
        @if (
          loginForm.get("password")?.touched &&
          loginForm.get("password")?.invalid
        ) {
          <div class="error-message">
            @if (loginForm.get("password")?.errors?.["minlength"]) {
              <p>
                Le mot de passe doit comporter au moins
                {{
                  loginForm.get("password")?.errors?.["minlength"]
                    ?.requiredLength
                }}
                caractères.
              </p>
            }
          </div>
        }
      </div>

      @if (errorMessage()) {
        <div class="error-message">{{ errorMessage() }}</div>
      }

      <div>
        <button
          class="btn-submit"
          type="submit"
          [disabled]="isLoading() || !loginForm.valid"
        >
          {{ isLoading() ? "Connexion..." : "Se connecter" }}
        </button>
      </div>

      <div class="register-link">
        <a routerLink="/register">Pas encore de compte ? Créer un compte</a>
      </div>
    </form>
  </div>
</div>
